@charset "utf-8";
/*！
 * lib CSS 网页模版库 v1.0 基于bootstrap或ZUI
 * Copyright 2016-2017,XIAOBING TECH 
 * Author:MR. WANGHAO
 */
body{
  padding-top: 82px;
}
.module-heading .zh{
  position: relative;
  padding-bottom: 15px;
}
.module-heading .zh:after{
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background: #f1e158;

  position: absolute;
  left: 50%;
  bottom: 0;
  margin-left: -25px;
}
.icon{
  display: inline-block;
  background-image: url("../images/icons/icons.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.icon-arrow {
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 4.5px 0 4.5px;
  border-color: #999999 transparent transparent transparent;

  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/*header页头007*/
.xb-header{
  z-index: 9999;
  width: 100%;
  height: auto;
  background: #343434;

  -moz-box-shadow: 0px 1px 2px rgba(102,102,102,.2);
  -webkit-box-shadow: 0px 1px 2px rgba(102,102,102,.2);
  box-shadow: 0px 1px 2px rgba(102,102,102,.2);

  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
.navbar-top{
  background-color: #f6f6f6;
  font-size: 14px;
  color: #999;
  border-bottom: 1px solid #eee;
}
/*城市选择*/
.city-switch-box{}
.city-switch-box .city-name{
  position: relative;
  height: 32px;
  line-height: 32px;
  padding: 0 10px;
}
.city-switch-box .on{background: #fff;}
.city-switch-box .city-content{
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 99;
  width: 300px;
  border:1px solid #eee;
  background: #fff;
}
.city-switch-box .city-content ul{
  padding: 10px 20px;
}
.city-switch-box .city-content li{
  float: left;
  width: 62px;
  overflow: hidden;
  color: #666;
  text-align: left;
  height: 28px;
  line-height: 28px;

}
.city-switch-box .city-content li a{
  text-decoration: none;
  font-size: 12px;
}
.city-switch-box .icon{
  color: #8288c2;
}
.city-switch-box .city-title{
  color: #333;
}
.city-toggle{
   color: #6068c6;
}
.nav-top-right{}

.nav-top-right > li {
  float: left;
  position: relative;
  padding: 0 15px;
}

.nav-top-right > li:after {
  content: "";
  display: inline-block;
  position: absolute;
  height: 12px;
  border-right: 1px solid #c5c5c5;
  top: 50%;
  left: 0;
  margin-top: -6px;
}

.nav-top-right > li:first-child::after {
  display: none;
}

.nav-top-right > li > a {
  display: block;
  font-size: 14px;
  color: #999;
  text-decoration: none;
  position: relative;
  height: 32px;
  line-height: 32px;
}
.nav-top-right > li .icon-arrow{
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -2.5px;
}
.nav-top-right  > .dropdown>a{
  padding-right: 10px;
}
.nav-top-right .sub-menu{
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 99;
    width: 100%;
    background: #fff;
    border: 1px solid #eee;
}
.nav-top-right .sub-menu-wrap{
  padding: 15px;
}
.nav-top-right > li.on{background: #fff;}
.nav-top-right > li.on>a{
  color: #6068c6;
}

/*导航搜索模块*/
.xb-header .top-search-form{width: 30px;height: 76px;position: relative;}
.xb-header .top-search-form .form-control{border: 1px solid #d6d6d6;background: transparent; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow:none; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px;}
.xb-header .top-search-form .btn-search{display: inline-block; width: 30px; height: 30px; line-height: 25px; background:url(../images/serach_ico.png) no-repeat #0065a5 center; color: #fff;padding: 0; border-radius: 50%; -webkit-border-radius: 50%; margin-top: 20px;}
/*search-form*/
.xb-header .search-form{position: absolute;display: none;width:220px;right: 0;top: 100%;background: #0065a5;border-top: 1px solid #67c0f8;overflow: hidden;}
.xb-header .search-form:before{content: ''; position: absolute; width: 60px; height: 41px; margin-top: 0px; margin-left:-80px; overflow: hidden; z-index: 6; background: -moz-linear-gradient(left,rgba(255,255,255,0) 0,rgba(255,255,255,0.4) 50%,rgba(255,255,255,0) 100%); background: -webkit-gradient(linear,left top,right top,color-stop(0%,rgba(255,255,255,0)),color-stop(50%,rgba(255,255,255,0.4)),color-stop(100%,rgba(255,255,255,0))); background: -webkit-linear-gradient(left,rgba(255,255,255,0) 0,rgba(255,255,255,0.4) 50%,rgba(255,255,255,0) 100%); background: -o-linear-gradient(left,rgba(255,255,255,0) 0,rgba(255,255,255,0.4) 50%,rgba(255,255,255,0) 100%); -webkit-transform: skewX(-25deg); transform: skewX(-25deg);}
.xb-header .search-form:hover:before{-webkit-animation:formlight .5s ease-out forwards; -moz-animation:formlight .5s ease-out forwards; -o-animation:formlight .5s ease-out forwards; animation:formlight .5s ease-out forwards}
.xb-header .search-form input::-webkit-input-placeholder,
.xb-header .search-form input:-moz-placeholder,
.xb-header .search-form input::-moz-placeholder,
.xb-header .search-form input:-ms-input-placeholder{color: #fff!important;}
@keyframes formlight{from{margin-left:-60px}to{margin-left:240px}}
@-webkit-keyframes formlight{from{margin-left:-60px}to{margin-left:240px}}
.xb-header .search-form .form-group{font-size: 0;}
.xb-header .search-form .form-control{width:172px; height: 40px;border:0; border-radius: 0;color: #fff;}
.xb-header .search-form .btn-search{width: 24px;height: 40px;background-color: transparent;border: transparent;margin: 0;}
/*logo*/
.nav-brand{width: 261px; height: 66px;}
.logo{margin:0; display: block; width:inherit; height: inherit; background: url(../images/logo.png) no-repeat left center;}
/*主要导航*/
.xb-header .navbar-main{z-index: 99; margin-bottom: auto;border-bottom: none;padding: 15px 0;}
/*导航风格模型*/
.nav-main ul,
.nav-main li,
.nav-main dl,
.nav-main dt,
.nav-main dd{padding: 0;margin:0;list-style: none}
.xb-header .nav-main{ height: auto;margin-bottom: none;margin-top: 20px;}
.xb-header .nav-main > li {
    float: left;
    text-align: center;
    font-size: 14px;
    color: #666;
    position: relative;
    z-index: 9;
    padding: 0 25px;
}
.xb-header .nav-main>li>a{display: block;font-size: 16px;position: relative; color: #fff;text-decoration: none; border-radius: 2em;}
.xb-header .nav-main>li .icon-arrow{position: absolute;top: 50%;right: -15px;margin-top: -2.5px;}
.xb-header .nav-main>li>a span{display: block;position: relative;}
.xb-header .nav-main>li>.en{display: block;}
.xb-header .nav-main>li>a:hover,.xb-header .nav-main>li>a:focus{ background: #f1e158;}
.xb-header .nav-main>li.active> a {
    color: #6068c6;
    background: #f1e158 !important;
    text-shadow: none;
}
/*
.xb-header .nav-main>li:first-child a{padding-left: 10px;padding-right: 10px;}
*/

.xb-header .nav-main>li.active .icon-arrow{display: none;}

.xb-header .nav-main > li.on > a {
  background: #f1e158;
  color: #333;
  border-radius: 2em;
}

.xb-header .nav-main>li.on .icon-arrow{
    border-color: #6068c6 transparent transparent;
    transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
}
/*.xb-header .nav-main>li.move >a{color: #d2d2d2!important; background: none !important; -webkit-box-shadow: none!important; -moz-box-shadow: none!important; box-shadow: none!important; text-shadow:none!important;}*/
.xb-header .nav-main .hot{display: block;width: 25px;height: 15px; position: absolute;top: 10px;right: 0; background: url(../images/hot.gif) no-repeat;}
.xb-header .nav-main .movingLine{position: absolute;z-index: 1; width: auto; background: #7fcd61;width: 60px; height: 3px;bottom:0;display: none;}
/*子菜单*/
/*
.xb-header .nav-main .nav-sub{display: none; position: absolute; top: 100%; width: 345px; height: auto; padding:20px 20px 20px 0; background: rgba(255, 255, 255, 0.8) !important; filter: alpha(opacity=80); !*ie*! background-color: #ffffff; -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, .175); -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175); box-shadow: 0 6px 12px rgba(0, 0, 0, .175); filter: progid: DXImageTransform.Microsoft.Shadow(strength = 2, direction = 180, color = '#888888'); -ms-filter: "progid: DXImageTransform.Microsoft.Shadow(strength = 2, Direction = 180, Color = '#888888')";}
.xb-header .nav-main .nav-sub dt{float: left;width: 109px; overflow: hidden;font-weight: normal;}
.xb-header .nav-main .nav-sub dd{float: right;width: 216px;}
.xb-header .nav-main .nav-sub li{margin-bottom: 10px;padding: 0 6px}
*/

/*//header*/

/*footer*/
.footer{
  background: #283443;
}
.foot-tel{}
.foot-tel .icon-footTel{display: inline-block;width: 60px;height: 60px;background: url(../images/icons/icon-footTel.png) no-repeat;}
.foot-tel .tel-num{font-size: 30px;color: #9ecc17;}
.foot-tel .tel-desc{font-size: 14px;color: #888;}

.foot-fr{width: 588px;margin-left: 100px;}
.copy{color: #a9aeb4;}
.footer hr{border-top:1px solid #384453;}
.flinks{width: 100%;}
.list-flinks{width: 520px;}
.list-flinks .list-item{display: inline-block;*display: inline;zoom:1;margin-bottom: 6px;}
/*//footer*/
/*全屏幻灯片*/
.full-slide{width:100%;max-width:100%; height:512px;position:relative;overflow:hidden;}
.full-slide .bd{width: 100%; height:512px;position:relative; z-index:0;}
.full-slide .bd ul,
.full-slide .bd li {
  width: 100% !important;
  width: 100% !important;
  height: 512px;
  overflow: hidden;
  background-position: center top;
  background-repeat: no-repeat;
}
.full-slide .bd a{display: block;width: 100%;height: 100%;}
/*
.full-slide .bd li img{display:block;width: 100%;}
*/
.full-slide .hd{width:100%; position:absolute; z-index:99; bottom:0; left:0; height:30px; line-height:30px;}
.full-slide .hd ul{text-align:center;}
.full-slide .hd ul li {
  background: #fff;
  cursor: pointer;
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 50px;
  height:3px;
  margin: 0 4px;
  overflow: hidden;
  filter: alpha(opacity=90);
  opacity: 0.9;
  vertical-align: top;
  line-height: 9999px;
  cursor: pointer;
}
.full-slide .hd ul .on{background: #8288c2}
.full-slide .slide-btn{display: none; position: absolute; color:#fff;width: 56px; height: 43px;margin-top: -22.5px;
  /*background:url(../images/icon-slide.png) no-repeat;*/ z-index: 99; -webkit-transition: all 0.2s ease; -moz-transition: all 0.2s ease; -o-transition: all 0.2s ease; transition: all 0.2s ease;
}
.full-slide .slide-btn i{font-size: 50px;
  -moz-text-shadow: 0px 0px 5px rgba(0,0,0,.6);
  -webkit-text-shadow: 0px 0px 5px rgba(0,0,0,.6);
  text-shadow: 0px 0px 5px rgba(0,0,0,.6);
}
.slide-btn:focus{text-decoration: none}
/*fadeIn*/
@-webkit-keyframes fadeIn{0%{opacity: 0} 100%{opacity: 1}}
@keyframes fadeIn{0%{opacity: 0} 100%{opacity: 1}}
/*pulse*/
@-webkit-keyframes pulse{0%{-webkit-transform: scale(1); transform: scale(1)} 50%{-webkit-transform: scale(1.1); transform: scale(1.1)} 100%{-webkit-transform: scale(1); transform: scale(1)}}
@keyframes pulse{0%{-webkit-transform: scale(1); -ms-transform: scale(1); transform: scale(1)} 50%{-webkit-transform: scale(1.1); -ms-transform: scale(1.1); transform: scale(1.1)} 100%{-webkit-transform: scale(1); -ms-transform: scale(1); transform: scale(1)}}
/*shake*/
@-webkit-keyframes shake{0%,100%{-webkit-transform: translateX(0); transform: translateX(0)} 10%,30%,50%,70%,90%{-webkit-transform: translateX(-10px); transform: translateX(-10px)} 20%,40%,60%,80%{-webkit-transform: translateX(10px); transform: translateX(10px)}}
@keyframes shake{0%,100%{-webkit-transform: translateX(0); -ms-transform: translateX(0); transform: translateX(0)} 10%,30%,50%,70%,90%{-webkit-transform: translateX(-10px); -ms-transform: translateX(-10px); transform: translateX(-10px)} 20%,40%,60%,80%{-webkit-transform: translateX(10px); -ms-transform: translateX(10px); transform: translateX(10px)}}
.full-slide .prev{left: 50px; top: 50%; background-position: 0 -400px}
.full-slide .prev:hover{background-position: 0 -445px; -webkit-animation-name: fadeIn; animation-name: fadeIn}
.full-slide .next{right: 50px; top: 50%; background-position: 0 -490px;}
.full-slide .next:hover{background-position: 0 -535px; -webkit-animation-name: fadeIn; animation-name: fadeIn}
.full-slide:hover .slide-btn{display: block;}
/*//slide*/

/*首页*/
.base-tab-title >li>a{color: #333;font-weight: 700;font-size: 18px;}
.base-tab-title >li.active>a{background: #f1e158; color: #333;}
.base-tab-title >li>a:hover,
.base-tab-title >li>a:focus,
.base-tab-title >li.active>a:hover,
.base-tab-title >li.active>a:focus{
  background: #f1e158; color: #333;
}
.list-base-img .list-item{
  width: 290px;
  height: 218px;
  margin-right: 13px;
}
.banner-culture{
  width: 100%;
  height: 292px;
  background: url("../images/banner-01.jpg") no-repeat center;
}
/*招聘*/
.list-hr .list-item{
  width: 573px;
  height: 398px;
  background: #ffffff;
  -moz-box-shadow: 0px 0 5px rgba(102,102,102,.2);
  -webkit-box-shadow: 0px 0 5px rgba(102,102,102,.2);
  box-shadow: 0px 0 5px rgba(102,102,102,.2);
  overflow: hidden;
  border-radius: 3px;
  margin-right: 50px;
}
.list-hr .list-item .inner-wrap{
  display: block;
  padding: 30px;
}
.list-hr .list-item .item-title{
  font-size: 20px;
  color: #666;
  text-align: center;
}

.btn-maile{
  background: #f1e158;
  border-radius: 2em;
  color: #000;
}

/*资讯*/
.panel-infomation{
  width: 530px;
}
.panel-infomation .panel-heading{
  border-bottom: 1px #ddd dotted;
  padding: 15px 0;
}
.panel-infomation .panel-heading:before{
  content: "";
  display: inline-block;
  float: left;
  width: 14px;
  height: 14px;
  border:3px solid #f39800;
  margin-top: 7px;
  border-radius: 50%;
}
.panel-infomation .panel-heading .zh{color: #333;font-weight: 700;font-size: 18px;margin-left: 5px;}
.panel-infomation .panel-heading .en{color: #c1c1c1;font-size: 12px;margin-top: 7px;margin-left: 10px;}
.panel-infomation .btn-more{font-size: 12px;text-transform: uppercase;padding: 1px 8px;}
.panel-infomation .panel-body{padding: 0;padding-top: 20px;}
.panel-infomation .panel-body .cover{display: block;width: 240px;height: 160px;}
.panel-infomation .panel-body .cover img{width: 100%;height: 100%;}
/*资讯列表*/
.list-news {width: 270px;}
.list-news .list-item{font-size: 14px;margin-bottom: 14px;}
.list-news .list-item .title{color: #666;width: 220px;}
.list-news .list-item .time{color: #aaa;font-size: 12px;}
.list-news .list-item .title:hover{color: #999;width: 220px;}
.list-news .list-item:last-child{margin-bottom: auto;}
/*内页*/
.sub-banner{
  width: 100%;
  height: 200px;
}

/*产品介绍*/
.product-intro{background: #f8f8f8;}
.product-intro h3{color: #000;margin: 0}
.product-intro dl{margin:0;}
.product-intro .btn.btn-yellow{color: #fff;font-size: 16px; background: #ff7e45;padding: 12px 35px;border:transparent;text-shadow: none;}
.product-intro .btn:hover{opacity: .8}
.product-intro .text-14 p{margin-bottom: 6px}

/**/
.titleBar {padding:10px 30px;border-bottom:1px solid transparent;}
.titleBar .zh{font-size: 28px;color: #0b6aad;font-weight: normal;}

.module-navbar-inner{border-bottom: 1px solid #eee;}
.nav-submenu{position: relative;text-align: center;padding: 10px 0;}
.nav-submenu >li{position: relative;z-index: 5;display: inline-block;*display: inline; zoom:1;}
.nav-submenu >li>a{font-size: 14px;color: #333333;height: 30px;line-height: 30px; padding: 0 30px;}
.nav-submenu >li>a:hover{background-color: transparent;}
.nav-submenu>li.active>a,
.nav-submenu>li.active>a:focus,
.nav-submenu>li.active>a:hover { color: #333;background-color: transparent;}
.nav-submenu>li.on>a{color: #333}
.nav-submenu>li.move>a{color: #333}
.nav-submenu .movingLine{display: block;background-color: #eeeeee;height: 30px; position: absolute;top: 50%;margin-top: -15px; z-index: 1; border-radius: 50px;-webkit-border-radius:50px;}

/*详情*/
.xb-details .notes{color: #999;margin-top: 20px;}
.xb-details .details-heading{border-bottom: 1px dotted #ddd}
.xb-details .details-foot{border-top: 1px dotted #ddd}
.xb-details .title{margin:auto;}

/*新闻内页*/
.list-news-imgtext {}
.list-news-imgtext .list-item{width: 346px;background: #fff;margin-right: 15px;margin-bottom: 15px;}
.list-news-imgtext .item-media{width:100%; height: 185px;}
.list-news-imgtext .item-media img{width: 100%; height: 100%;}
.list-news-imgtext .list-item>div{border:1px solid #f5f5f5;}
.list-news-imgtext .list-item  .list-item-body{padding: 15px;}
.list-news-imgtext .desc{padding:0; line-height: 1.8em; font-size: 12px; height: 85px; overflow: hidden;color: #999}
.list-news-imgtext .time{display: block;}
.list-news-imgtext a.more{display: inline;font-size: 12px; color: #ff791d;}
.list-news-imgtext .br{margin-right: 0}

/*paging分页-pc*/
.paging{clear:both;height:auto;min-width:200px;text-align:center}
.paging li,.paging ul{display:inline-block;margin:0;padding:0;list-style:none;*display:inline;zoom:1}
.paging ul{width:auto;height:100%;font-size:0;}
.paging li{font-size:12px;}
.paging li a{font-family:Arial,Helvetica,sans-serif;margin:0 3px;color:#999999;font-size: 12px;display: inline-block;border:1px solid #ddd;padding: 10px 12px;/*height:20px;line-height: 20px;*/}
.paging li a:hover{color:#333;text-decoration: none;text-decoration: none}
.paging li.paging_next a,
.paging li.paging_prev a{/*line-height:normal;position: relative;*/border:1px solid #ddd;padding: 10px 12px;}
.paging li.paging_current a{color:#fff;font-weight: 700;background: #3a9fe3;border-color:#3a9fe3;}
.paging li.total a{margin:0;}
.paging li.total a:hover{color: #999999}
.paging li.paging_next ~ .total,
.paging li.paging_prev ~ .total{margin-left: 6px}

/*
.nav-submenu2 {text-align: center;}
.nav-submenu2 >li{position: relative;z-index: 5;display: inline-block;margin:0 6px;}
.nav-submenu2 >li>a{display: inline-block; font-size: 16px;color: #666;height: 40px;line-height: 40px; padding: 0 20px;border:2px solid #dedede;
  border-radius: 50px;
  -webkit-border-radius:50px;
}
.nav-submenu2 >li>a:hover{background-color: transparent;border-color: #0b6aad;
    color: #0b6aad;
  }

.nav-submenu2>li.active>a, 
.nav-submenu2>li.active>a:focus, 
.nav-submenu2>li.active>a:hover {
    background-color: transparent;
    border-color: #0b6aad;
    color: #0b6aad;
}*/
